:root {
    --rojo-andreani: #E30613;
    --gris-oscuro: #333333;
    --gris-claro: #f4f4f4;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    overflow: hidden; /* Evita el scroll en el tótem */
    background-color: #ffffff;
}

.kiosk-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 15px solid white; /* Simula el marco del monitor */
    box-sizing: border-box;
}

/* Línea roja decorativa superior */
.top-bar {
    width: 100%;
    height: 8px;
    background-color: var(--rojo-andreani);
}

.welcome-content {
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.main-logo {
    width: 350px;
    margin-bottom: 50px;
}

h1 {
    font-size: 3rem;
    color: var(--gris-oscuro);
    font-weight: 300;
}

h1 strong {
    font-weight: 700;
}

p {
    font-size: 1.5rem;
    color: #888;
    margin-top: 20px;
    letter-spacing: 1px;
    animation: blink 2s infinite;
}

.bottom-bar {
    padding-bottom: 30px;
    color: #bbb;
    font-size: 1rem;
}

/* Animaciones para que la pantalla no sea estática */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.4; }
}